.add_review{
    margin: 3em 0;
    form{
        .rating{
            p{
                margin: 0;
            }
            display: flex;
            align-items: center;
            justify-content: baseline;
            .star{
                margin: 0 15px;
            }
        }
        .input{
            display: flex;
            flex-direction: column;
            textarea{
                height: 7em;
                padding: 15px 10px;
            }
            input{
                padding: 5px 5px;
            }
        }
        .input_two{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
            div{
                display: flex;
                flex-direction: column;
            }
        }
        .submit{
            background-color: black;
            color: white;
            font-size: 25px;
            padding: .2em 3em;
            font-weight: 500;
            border-radius: 30px;
        }
        .star img{
            cursor: pointer;
        }
    }
}